.banner-title{
    font-size: 60px;
    line-height: 75px;
    font-weight: 900;
    margin: 0 0 21px;
}

.breadcrumbs {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #252525;
    line-height: .8;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}